# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=be4a736d0d0d10c5ef6ecc5834455ef3
DOMAIN=talkspirit
GOOGLE_API_KEY=my_api_key
GOOGLE_SEARCH_ENGINE=my_search_engine
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###
